*.iml
.gradle
app/build/intermediates/
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
/app/src/main/java/com/hackncs/click/Endpoints.java